{{#if blogPosts}}
<ul class="blogPosts">
  {{#each blogPosts}}
  <div class="blogPost flex-index">
    <div class="blogPost-title">
      <a href="/blogPost/{{_id}}" id="list-title">
        <h3>{{ title }}</h3>
      </a>
    </div>
  </div>

  {{/each}}
</ul>
<a href="/new">
  <button class="btn btn-info" id="newPost">new Post</button>
</a>
{{/if}}