<a href="/blogPost"><button class="btn btn-info">Go Back</button></a>
<section class="form-container">
  <h3>New Post</h3>
  <form action="/blogPost" method="post" class="blogPost-form">
    <p class="input-field">
      <textarea name="blogPost[title]" cols="1" rows="10" placeholder="Title"></textarea>
      <textarea name="blogPost[content]" cols="30" rows="10" placeholder="What's on your mind"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="post" class="btn waves-light">
    </p>
  </form>
</section>