.blogPost {
  text-align: center;
  /* border: 1px solid black; */
  margin: 2% auto;
  width: 60%;
  padding: 2%;
}

.btn {
  margin: 2%;
}

h1 {
  text-align: center;
}


.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.btn-container * {
  margin: 1%;
}

.flex-index {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 60%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1% auto;
}

header {
  margin: 2%;
}

.form-container {
  margin: 2%;
}

.edit-container {
  margin: 2%;
  visibility: hidden;
}